header{
    background-color: rgb(189, 235, 253);
    font-size: larger;
    font-weight: bold;
    font-family:'Lucida';
    color: rgb(223, 99, 17);
}

.containIt {
    margin: 10px;
    padding: 10px;
}

.col-2 {
    background-color: rgb(189, 235, 253);
    color:rgb(207, 83, 0);
    margin: 1%;
}

.bg-orange{
    background-color:rgb(226, 125, 9);
}

#uvIndex{
    text-align: left;
}

.card-body{
    padding: 0px;
    font-size: auto;
}
    
/* position/float all the main divs to their appropriate locations */
/* have a color style for each type of UV index */